@font-face {
  font-family: "Shabnam";
  src: url("../fonts//shabnam-font-v2.4.0/Shabnam.eot");
  src: url("../fonts/shabnam-font-v2.4.0/Shabnam-Light.eot");
  src: url("../fonts/shabnam-font-v2.4.0/Shabnam-Bold.eot?#iefix")
      format("FontName-opentype"),
    url("../fonts/shabnam-font-v2.4.0/Shabnam.woff") format("woff"),
    url("../fonts/shabnam-font-v2.4.0/tff") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  background: url(../images/body_back2.jpg) repeat;
  scroll-behavior: smooth;
}
* {
  font-family: "Shabnam";
  direction: rtl;
  text-align: right;
}

nav .sidenav-trigger {
  float: right;
}
.navbar_ul {
  display: flex;
  position: relative;
  right: 80px !important;
}
nav .brand-logo {
  width: 80px;
  top: 0.5rem;
}
nav .brand-logo a {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .brand-logo img {
  width: 100%;
  filter: drop-shadow(0 0 1px white);
  -webkit-filter :drop-shadow(0 0 1px white);
  transition: all 600ms ease;
}

nav .brand-logo img:hover {
  filter: drop-shadow(0 0 5px rgb(246, 246, 246));
  -webkit-filter :drop-shadow(0 0 5px rgb(246, 246, 246));
}
.item_content {
  width: 100%;
  height: 100%;
}

.tabs-content.carousel.carousel-slider {
  height: calc(100vh - 64px) !important;
}

.fixed-action-btn {
  right: unset !important;
}

.floating_quick_access {
  position: relative;
  right: 5px;
  bottom: -15px;
}

.menu_links_desktop::after {
  content: "";
  width: 100%;
  height: 3px;
  background: #00d81d;
  display: block;
  position: relative;
  bottom: 10px;
  transform: scaleX(0);
  transition: all 200ms ease;
  border-radius: 10px;
}

.menu_links_desktop:hover::after {
  transform: scaleX(1);
}

.menu_links_desktop.active::after {
  content: "";
  width: 100%;
  height: 3px;
  background: #00d81d;
  display: block;
  position: relative;
  bottom: 10px;
  border-radius: 10px;
  transform: scaleX(1);
}

/*Moblie Demo*/
#mobile-demo {
  background: linear-gradient(#a110898c, #444cb854, #a110898c),
    url(../images/sideBack3.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#mobile-demo li {
  width: 100%;
}
#mobile-demo li a {
  text-align: center;
  color: white;
  transition: all 600ms ease;
}
#mobile-demo li a:hover {
  background-color: rgb(0, 0, 0, 0.3);
  font-size: 1.2rem;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}
#nav_svg {
  position: fixed;
  top: 32px;
  pointer-events: none !important;
}
.nav-shodow {
  filter: drop-shadow(0 0 6px black);
  -webkit-filter: drop-shadow(0 0 6px black);
}
nav ul li a:hover {
  background: transparent !important;
}

/*Silder */
.top_carousel {
  height: calc(100vh - 64px) !important;
}
.top_carousel a img {
  min-height: 100% !important;
  width: unset !important;
  min-width: 100%;
}

.mt-4 {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

.mb-4 {
  margin-bottom: 2rem !important;
}
.w_100 {
  width: 100% !important;
}
.quick_accsess_items .image img {
  border-radius: 50%;
  width: 100%;
  max-width: 135px;
}
.quick_accsess_items h3 {
  font-size: 1.5rem;
  margin: 0;
  color: rgba(117, 55, 231, 0.911);
}
.subtitl {
  background-color: white;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  border: 4px solid #880e4f;
  margin-top: 5px;
  transition: all 600ms ease-in;
  cursor: pointer;
}
.subtitl:hover {
  font-size: 2rem;
  transition: all 600ms ease-out;
}
.quick_item {
  transform: perspective(800px) rotateY(25deg) scale(0.9) rotateX(10deg);
  transition: 0.6s ease all;
}

.quick_item:hover {
  transform: perspective(800px) rotateY(-15deg) translateY(-10px) rotateX(10deg)
    scale(1);
  filter: blur(0);
  opacity: 1;
  filter: drop-shadow(0 0 5px #880e4f);
  -webkit-filter: drop-shadow(0 0 5px #880e4f);
}
/*end Slider*/

/*Divider*/
.deivider {
  width: 100%;
  filter: drop-shadow(0 0 6px #880e4f);
  -webkit-filter:drop-shadow(0 0 6px #880e4f);
}
.deivider img {
  width: 90%;
  max-width: 450px;
}

.subtitl2 {
  background-color: white;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  border: 4px solid #4a148c;
  margin-top: 5px;
  transition: all 600ms ease-in;
  cursor: pointer;
}
.subtitl2:hover {
  font-size: 2rem;
  transition: all 600ms ease-out;
}

.simple_item {
  height: 30vh;
  padding: 1rem;
}
.simple_item .image {
  height: 100% !important;
  width: 100% !important;
  border-radius: 6px;
  filter: drop-shadow(0 0 6px black);
  -webkit-filter :drop-shadow(0 0 6px black);
  display: flex;
  justify-content: center;
  align-items: center;
}
.drop-shodow {
  filter: drop-shadow(0 0 4px #880e4f);
  -webkit-filter : drop-shadow(0 0 4px #880e4f);
}
.simple_item .image::after {
  content: "مـشاهـده گـالری";
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(39, 2, 39, 0.8);
  width: 100%;
  height: 100%;
  transform: scale(0);
  transition: all 500ms ease-in;
  color: #f8bbd0;
  border-radius: 6px;
}

.simple_item:hover .image::after {
  transform: scale(1);
}
.simple_item .image img {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  -o-object-fit: cover;
  -webkit-object-fit: cover;
  -moz-object-fit: cover;
}

.Ronded {
  border-radius: 6px;
}

@media (min-width: 992px) {
  nav .brand-logo {
    right: 6px !important ;
  }
}
